/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: #1C1C1C;
$primary-font-color: hsla(360, 100%, 100%, 1);
$primary-font: 'DM Serif Display', serif;
$secondary-font: 'Poppins', sans-serif;

body {
  background-color: $primary-background;
  color: hsla(360, 100%, 100%, 1);
  font-family: $primary-font;
}

.neon {
  height: 80px;
}

.rose {
  height: 80px;
}

label {
  font-family: $secondary-font;
}
