/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: hsla(0, 0%, 11%, 1);
$primary-font-color: hsla(360, 100%, 100%, 1);
$primary-font: 'DM Serif Display', serif;
$secondary-font: 'Poppins', sans-serif;
$primary-neon-color: hsla(169, 93%, 66%, 1);
$primary-box-shadow: 0px 0px 10px .5px hsla(169, 100%, 50%, 1);
$secondary-box-shadow: 0px 0px 10px 1px hsla(326, 100%, 63%, 1);
$secondary-neon-color: hsla(320, 100%, 85%, 1);

body {
  background-color: $primary-background;
  color: $primary-font-color;
  font-family: $primary-font;
  text-align: center;
}

header {
  align-items: center;
  display: none;
  height: 60px;
  justify-content: space-between;
}

main {
  display: block;
}

h2 {
  font-size: 3em;
}

label {
  font-family: $secondary-font;
  font-size: 1.5em;
  width: 100px;

}

input {
  border: 0;
  border-radius: 2px;
  height: 30px;
  margin: 0px 30px 20px 0px;
  text-indent: 5px;
  width: 280px;
}

button {
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  font-family: $primary-font;
  font-size: 1em;
  height: 30px;
  margin-top: 10px;
  width: 140px;
  &:hover {
    background-color: $primary-neon-color;
    box-shadow: $primary-box-shadow;
  }
}

.line {
  background-color: $primary-neon-color;
  border-radius: 4px;
  box-shadow: $primary-box-shadow;
  height: 2px;
  margin: 10px 0px 20px 0px;
  width: 99%
}

.header-rose {
  margin-left: 15px;
  width: 80px;
}

.new-reservation-button,
.delete-reservation-button {
  width: 150px;
}

.login-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}

.login {
  display: grid;
  height: 300px;
  grid-template-areas:
    "ulabel rose"
    "uinput rose"
    "plabel rose"
    "pinput rose"
    "submit submit"
    "error error";
}

.error {
  color: hsla(356, 68%, 54%, 1);
  font-size: 1.5em;
  display: none;
}

.login-error {
  grid-area: error;
}

.submit {
  cursor: none;
  grid-area: submit;
  &:hover {
    background-color: $primary-font-color;
    box-shadow: none;
  }
}

label .username {
  grid-area: ulabel;
}

input .username-input {
  grid-area: uinput;
}

label .password {
  grid-area: plabel;
}

input .password-input {
  grid-area: pinput;
}

.neon {
  height: 40px;
}

.login-info .neon {
  height: 80px;
  margin-top: 50px;
}

.rose {
  height: 140px;
  grid-area: rose;
  margin-top: 45px;
}

.header-logout {
  align-items: center;
  display: flex;
}

.logout-button {
  margin: 0px 10px 0px 0px;
}

.manager-searchbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-right: 6%;
}

.manager-searchbar h3{
  margin-right: 8px;
}

.search-for-user {
  visibility: hidden;
}

.search-button {
  margin-top: 0;
}

.dashboard {
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%
}

.dashboard div {
  align-items: center;
  display: flex;
  border: 1px solid $secondary-neon-color;
  border-radius: 4px;
  box-shadow: $secondary-box-shadow;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  margin: 1%;
  padding: 10px;
  text-align: center;
  width: 250px;
}

.dashboard h2 {
  font-size: 2em;
  margin: 0px;
}

.welcome {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.name {
  margin: 0px 0px 0px 15px;
}

.user-search {
  margin: 0px 10px 0px 0px;
}

.user-search-results {
  display: none;
}

.customer-view,
.manager-view {
  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
}

.new-reservation {
  display: none;
}

.new-reservation-button {
  margin-bottom: 20px;
}

.see-available-button,
.see-occupied-button,
.see-reservations-button {
  width: 160px;
}

#manager-popup,
#customer-popup {
  background: $primary-background;
  border: 0;
  border-radius: 10px;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: flex-start;
  margin: 0;
  overflow-y: scroll;
  padding: 2%;
  position: fixed;
  top: 15%;
  width: 70%;
  z-index: 1000;
}

ul {
  align-self: center;
  font-family: $secondary-font;
  font-size: 1.3em;
  margin-top: 40px;
  text-align: left;
  text-indent: .2em;
}

li {
  margin-bottom: 15px;
}

.customer-shield,
.manager-shield {
  visibility: visible;
}

.manager-popup-window,
.customer-popup-window {
  display: flex;
  justify-content: center;
  visibility: hidden;
  width: 95%;
}

#customer-exit-button,
#manager-exit-button {
  font-size: 2em;
  height: 40px;
  margin-left: 32%;
  position: fixed;
  width: 40px;
  text-align: center;
}

#toggle {
  visibility: visible;
}

#overlay {
  filter:alpha(opacity=40);
  background-color: $secondary-neon-color;
  height:97%;
  left: 1.5%;
  opacity:0.5;
  position: fixed;
  top: 2%;
  width:97%;
  z-index:100;
}

#active {
  cursor: pointer;
  &:hover {
    background-color: $primary-neon-color;
    box-shadow: $primary-box-shadow;
  }
}
