
@media only screen and (max-width: 600px) {

  .filter-sidebar {
    align-self: center;
    margin: 5% 0%;
    position: inherit;
  }

  .customer-reservation-buttons {
    width: 90% !important;
  }

  .vacancies-img {
    align-self: center;
    margin: 0;
  }

  .vacancies {
    padding: 0;
  }

  .select-room {
    align-self: center;
    font-size: 1.3em;
    margin: 0;
    margin-left: 0 !important;
  }

  .select-button {
    align-self: center;
    margin: 0;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  ul {
    font-size: 1.1em;
    text-indent: 0;
    width: 90%;
  }

  .exit-button {
    margin-left: 30%;
  }

  .user-info {
    width: 90%;
  }

  .manager-searchbar {
    flex-direction: column;
    margin: -20% 0 0 0;
  }

  #search-results-popup h3 {
    font-size: 1.5em;
    margin-top: 60px;
  }

  .found-users {
    font-size: 1em;
  }

}

@media only screen and (max-width: 1020px) {

  #manager-reservation-popup,
  #customer-reservation-popup {
    width: 80%;
  }

  #exit-reservation-button {
    margin-left: 75%;
  }

  .select-new-reservation-date {
    grid-template-areas:
    'msg'
    'label'
    'form'
    'button'
    'error'
    'flower';
  }

  .reservation-rose {
    align-self: flex-start;
    height: 60px !important;
    margin-top: 15px;
  }

  .customer-reservation-buttons {
    width: 60%;
  }

  .select-date-message {
    font-size: 1.5em;
    margin-top: 60px;
  }

  .dashboard {
    margin: 0;
  }

  .manager-searchbar {
    flex-direction: column;
    margin: -10% 0 0 5%;
  }

  .search-button {
    margin: 5%;
  }

  .vacancies {
    padding-left: 25%;
  }

  .select-room {
    margin-left: 25%;
  }

}

@media only screen and (max-width: 1220px) {

  .dashboard {
    margin-top: 6%;
    width: 70%;
  }

  .search-results-buttons {
    align-items: center;
    flex-direction: column;
  }

}
